.activity-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;
    border-radius: 20px;
    background-color: #FFF9F0;
    transition: background-color 0.5s, color 0.5s;
    color: #999999;
}
.activity-div:hover{
    color: #fff;
background: rgb(205,28,64);
background: linear-gradient(43deg, rgba(205,28,64,1) 0%, rgba(231,77,62,1) 53%, rgba(255,125,60,1) 100%);
cursor: pointer;
}
.activity-div:hover .activity-img{
    color: #fff;
}
.activity-img-div{
    width: 50%;
}
.activity-img{
    color: #999999;
    fill: #999999;
    width: 100%;
}
.activity-img path{
    fill: #999999;
}
.activity-name{
    font-size: 30px;
    font-weight: bold;
}