#contact_banner{
    position: relative;
    width: 100%;
}

.contact_form{
    padding: 40px;border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.534) 0px 8px 24px;
}

.input-text{
    width: 100%;
    border-radius: 15px;
    border: 1px solid #dddddd;
    padding: 10px;
    outline: none;
}
.input-text::placeholder{
    opacity: 0.8;
}
.contact-submitbtn{
    padding: 8px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: rgb(119, 178, 241);
    color: #fff;
}
.contact-info{
    font-size: 18px;
}
