.hotel_banner {
    position: relative;
    width: 100%;
}
.hotels {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}